<GridLayout>
    <StackLayout>
        <ContentView height="100%" width="100%">
            <Mapbox
                    accessToken="pk.eyJ1IjoiYXNobGV5Z291cnkiLCJhIjoiY2s1aXZ1M2s5MGU1NzNsbXEwbWh5dWc1diJ9.UjkOySG2s_jtmi5ihILgnw"
                    mapStyle="light"
                    latitude="45.551659"
                    longitude="-73.554826"
                    hideCompass="true"
                    zoomLevel="14"
                    showUserLocation="true"
                    disableZoom="false"
                    disableRotation="false"
                    disableScroll="false"
                    disableTilt="false"
                    (mapReady)="onMapReady($event)">
            </Mapbox>
        </ContentView>
    </StackLayout>

    <StackLayout columns="auto, auto" orientation="horizontal" class="follow akronim">
        <Label text="Follow me" fontSize="20" verticalAlignment="center"></Label>
        <Switch [checked]="following" (checkedChange)="toggleFollowing($event)"></Switch>
    </StackLayout>

    <GridLayout columns="auto, *" rows="*, *" orientation="horizontal" verticalAlignment="bottom">
        <Button rowSpan="2" col="0" row="0" (tap)="onLeaveMessage()" class="round-square" horizontalAlignment="left">
            <Span class="fas" text="&#xf27a;"></Span>
        </Button>
        <Button row="0" col="1" (tap)="saveParking()" [text]=btnName class="akronim btn_save"></Button>
        <StackLayout row="1" col="1" class="showSign">
            <StackLayout width="100%" columns="auto, auto" orientation="horizontal" class="akronim">
                <Label text="Show signs" verticalAlignment="center"></Label>
                <Switch [checked]="showSign" (checkedChange)="toggleSign($event)"></Switch>
            </StackLayout>
        </StackLayout>
        <!--        <Button row="1" col="1" (tap)="saveParking()" [text]=btnName class="akronim btn_save"></Button>-->
    </GridLayout>

    <StackLayout>
        <SearchBar hint="{{searchPhrase}}" class="transparent-area"
                   text="{{searchPhrase}}" (textChange)="onTextChanged($event)"
                   (clear)="onClear($event)" (submit)="onSubmit($event)">
        </SearchBar>
        <GridLayout *ngIf="displayAutocomplete" class="transparent-area" height="70%">
            <ListView [items]="predictions" class="list-group" (itemTap)="onItemTap($event)">
                <ng-template let-item="item" let-index="index">
                    <Label text="{{item.description}}"
                           class="list-group-item"></Label>
                </ng-template>
            </ListView>
        </GridLayout>
    </StackLayout>

</GridLayout>
