<GridLayout>
    <StackLayout>
        <ContentView height="100%" width="100%">
            <Mapbox
                    accessToken="pk.eyJ1IjoiYXNobGV5Z291cnkiLCJhIjoiY2s1aXZ1M2s5MGU1NzNsbXEwbWh5dWc1diJ9.UjkOySG2s_jtmi5ihILgnw"
                    mapStyle="light"
                    latitude="45.551659"
                    longitude="-73.554826"
                    hideCompass="true"
                    zoomLevel="14"
                    showUserLocation="true"
                    disableZoom="false"
                    disableRotation="false"
                    disableScroll="false"
                    disableTilt="false"
                    (mapReady)="onMapReady($event)">
            </Mapbox>
        </ContentView>
    </StackLayout>

    <StackLayout columns="auto, auto" orientation="horizontal" class="follow akronim">
        <Label text="Follow me" fontSize="20" verticalAlignment="center"></Label>
        <Switch [checked]="following" (checkedChange)="toggleFollowing($event)"></Switch>
    </StackLayout>

    <StackLayout columns="auto, *" orientation="horizontal">
        <Button (tap)="onLeaveMessage()" col="0" class="round-square" verticalAlignment="bottom"
                horizontalAlignment="left">
            <Span class="fas" text="&#xf27a;"></Span>
        </Button>
        <StackLayout col="1" verticalAlignment="bottom" class="btn_save">
            <Button (tap)="polylineParking()" [text]=btnName class="akronim"></Button>
        </StackLayout>
    </StackLayout>

    <StackLayout>
        <SearchBar hint="{{searchPhrase}}" class="transparent-area"
                   text="{{searchPhrase}}" (textChange)="onTextChanged($event)"
                   (clear)="onClear($event)" (submit)="onSubmit($event)">
        </SearchBar>
        <GridLayout *ngIf="displayAutocomplete" class="transparent-area" height="70%">
            <ListView [items]="predictions" class="list-group" (itemTap)="onItemTap($event)">
                <ng-template let-item="item" let-index="index">
                    <Label text="{{item.description}}"
                           class="list-group-item"></Label>
                </ng-template>
            </ListView>
        </GridLayout>
    </StackLayout>

</GridLayout>
